html, body {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", serif !important;
  font-size: 17px;
  line-height: 1.65;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", Georgia, serif !important;
  font-weight: 700;
}

.greedy-nav a,
.author__name,
.author__bio {
  font-family: "Libre Baskerville", Georgia, serif !important;
}
